.button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 16px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  outline: none;
  border: none;
  transition: all 280ms ease-in-out;
}
.button:hover {
  background-color: #3f51b5;
  color: white;
  transition: all 100ms ease-in-out;
}
.button:active {
  background-color: #954a97;
  color: white;
}

.input {
  margin-bottom: 16px;
  font-size: 12px;
  border: none;
  background-color: #333333;
  padding: 8px 16px;
  border-radius: 3px;
  outline: none;
  color: white;
  transition: all 280ms ease-in-out;
}
.input:focus {
  background-color: #222222;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.56);
}
.input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.56);
}
.input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.56);
}
.input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.56);
}
