* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

#content {
  display: flex;
  height: 100vh;
  width: 100vw;

  background-color: white;
}

.github-fork {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.main,
.auth-screen {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
}

.auth-screen {
  background-color: #414141;
}

.box-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.login-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 35%;
  max-width: 320px;
}

.login-form input {
  width: 100%;
}

.login-form .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.login-form .actions a {
  color: white;
  text-decoration: none;
  transition: all 280ms ease-in-out;
}
.login-form .actions a:active {
  color: rgba(255, 255, 255, 0.6);
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center !important;
  color: black;
}

.logo {
  /*color: white;
  font-size: 48px;*/
  /*background: transparent url(../assets/tox-logo@1x.png) no-repeat center left;*/
  background: transparent url(../assets/tox-logo.svg) no-repeat center center /
    cover;
  width: 150px;
  height: 60px;
  text-indent: -99999px;
  margin-bottom: 32px;
}

.subtitle {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}
