* {
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  height: 100vh;
  width: 100vw;

  background-color: white;
}

button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #03a9f4;
  color: white;
  padding: 8px 8px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
  border: none;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center !important;
  color: black;
}

.subtitle {
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
}
