@import url("https://fonts.googleapis.com/css?family=Roboto");

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

* {
  outline: none !important;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
}
